@import url(palette.css);

h1 {
    padding-top: 10px;
}

h2 {
    font-size: 24px;
    font-style: italic;
    margin-top: 0;
    padding-left: 15px;
}

h3 {
    padding-top: 8px;
    display: inline-block;
    text-align: center;
    font-size: 60px;
    border: 3px solid grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.accli {
    display: inline-block;
}

.accli .li:first-child {
    font-size: 30px;
    font-weight: bold;
}

.accli li{
    list-style-type: none;
    
}
.user {
    font-weight: bold;
    font-size: 24px;
}
.email {
    font-style: italic;
    padding-bottom: 10px;
}

.acc1{
    border: 5px dashed var(--pine-green);
    border-radius: 10px;
    width: fit-content;
    padding: 40px;
    display: inline-block;
}

.uid {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

.norm {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.acc2{
    border: 5px dashed var(--pine-green);
    border-radius: 10px;
    width: fit-content;
    padding: 3%;
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    margin-right: 50px;
    margin-left: 200px;
    top: 15px;
}

.acc2 li{
    list-style-type: none;
    color: black;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: var(--pine-green);
    background-color: var(--mint);
    color: aliceblue;
}
button:active{
    background-color: var(--pine-green);
    border-color: var(--mint);
    color: black;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}

h4 {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

button:nth-child(2){
    display: inline-block;
}