/* Code modified from https://codepen.io/gf117/pen/MEWWWz */
@import url('palette.css');

* {
  padding: 0;
  border-radius: 25px;
}

h1,h2,h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f5f5f5;
}

.main-content {
    background-color: var(--mint);
}

.latest-grid-item {
    background-color: var(--caribbean-current);
}

li,a,button {
  font-family: 'Work Sans';
  color: black;
  text-decoration: none;
  list-style: none;
}

p {
    color: #f5f5f5;
}

button {
  padding: 5px 20px;
  background-color: var(--viridian);
  color: #f5f5f5;
  border: 2px solid var(--zomp-2);
  border-radius: 25px;
  font-size: 1.1rem;
}

button:hover {
    background-color: var(--skobeloff);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.latest-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.latest-grid-item {
  flex-basis: calc(30% - 10px);
  margin: 20px 0;
  border: 2px solid var(--zomp-2);
}

.latest-grid-item h2,h3,p,hr,button {
  margin: 1rem ;
}

.latest-grid-item h3 {
  color: #aaa;
}

.latest-grid-item img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.blog-img-container {
    background-color: var(--viridian);
    border: 2px solid var(--zomp-2);
    padding: auto;
}

.latest {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .latest-grid-item {
      flex-basis: calc(45% - 10px);
  }
}


@media (max-width: 550px) {
  .latest-grid-item {
      flex-basis: 100%;
  }
}

html{
    max-width: auto;
    margin: 0 auto;
    background-color: white;
    height: 900px;
}

body {
    background-color: var(--celadon);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}



.logo:first-child{
    text-align: center;
}

.logo {
    padding-top: 20px;
}



#navbar-id {
    background-color: var(--mint);
    margin-bottom: 10px;
    border-radius: 25px;
}

a {
    color: white;
}

footer {
    margin-top: 20px;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}

.social{
    text-align: center;
    padding-bottom: 25px;
    font-size: 36px;
}
.social a{
    margin: 0 16px;
}

.foot {
    margin-left: 465px;
}
.foot li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding-left: 30px;
}

.copyright {
    color:aliceblue;
    text-align: center;
    padding-top: 15px;
}


