@import url(./palette.css);

/* Reset some default styles for consistency */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--celadon); /* Background color */
}

header {
    background-color: var(--mint); /* Green header background color */
    color: var(--caribbean-current); /* White text color */
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: var(--zomp); /* Dark background for the navigation */
    color: var(--caribbean-current); /* White text color */
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--caribbean-current); /* White text color for navigation links */
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--celadon-2); /* Content background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid var(--zomp);
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    background-color: var(--zomp); /* Button background color */
    color: var(--caribbean-current); /* White text color for the button */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.blog-post {
    margin-bottom: 20px;
    border: 1px solid var(--mint-2); /* Blog post border color */
    padding: 10px;
}

.blog-post h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.blog-post p {
    font-size: 14px;
    color: var(--skobeloff); /* Text color for blog post content */
    margin: 5px 0;
}