.container{
    margin-top: 10px;
}
.list-of-places{
    
    
    background-color: var(--mint);
    padding-bottom: 20px;
    border-radius: 10px;
}
.list-of-places h2{
    padding-left: 10px;
    padding-top: 10px;
}
.list-of-places li{

    font-size:large;
    margin-top: 10px;
}
.form-for-garden{
    background-color: var(--mint);
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}
#button-for-garden{
    background-color: var(--celadon);
}
.find-gardens h1{

    padding-top: 20px;
    padding-left: 50px;

}
#h3-find-garden{
    padding-left: 20px;
    padding-top: 10px;
}