/* Coolors Exported Palette - https://coolors.co/99e2b4-88d4ab-78c6a3-67b99a-56ab91-469d89-358f80-248277-14746f-036666 */
:root {
/* CSS HEX */
--celadon: #99e2b4ff;
--celadon-2: #88d4abff;
--mint: #78c6a3ff;
--mint-2: #67b99aff;
--zomp: #56ab91ff;
--zomp-2: #469d89ff;
--viridian: #358f80ff;
--pine-green: #248277ff;
--skobeloff: #14746fff;
--caribbean-current: #036666ff;
}