@import url(CSS/palette.css);

html{
    margin-left: 5px;
    position: absolute;
    background-color: white;
    width: 1440px;
    height: 900px; 
}

body {
    background-color: var(--celadon);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 128px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FEFAE0;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    
}

#carouselExample {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 5px;
}

.sidebar {
    width: 25%;
    background-color: var(--mint);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.logo:first-child{
    text-align: center;
}

.logo {
    padding-top: 20px;
}

.carousel-inner{
    border-radius: 10px;
}

